#so-ket-noi {
   display: none;
}

.container .bai-1 span i {
   font-size: 35px;
}

.container .bai-2 span i {
   font-size: 35px;
}

.container .bai-3 span i {
   font-size: 35px;
}

.container .bai-4 span i {
   font-size: 35px;
}